<% content_for(:menu) do %>
	<%= render :partial => 'menu' %>
<% end %>

<div class="container_16">
	<div class="grid_13 alpha">
	
		ВНИМАНИЕ!!!!
		если Вы видите эту страницу - значит выбранная Вами функция еще не реализована!!!
		
	</div>
	
	<%= render :partial => 'rmenu' %>
	
</div>