<% content_for(:menu) do %>
	<%= render :partial => 'menu' %>
<% end %>

<div class="container_16">
	<div class="grid_13 alpha">

    <h4>Здравствуйте!<br></h4>
    <h5>Добро пожаловать на сайт компании "НАШ ДОМ".</h5>
    <ul>
    	<li class="helpcontent">
    		Чтобы дать объявление нажмите ссылку <a href="/posts/new" class="link">ДАТЬ ОБЪЯВЛЕНИЕ</a> в верхнем меню
    	</li>
    	<li class="helpcontent">
    		Чтобы посмотреть статистику работы воспользуйтесь меню справа.
    	</li>
    	<li class="helpcontent">
    		Чтобы задать вопрос или высказать свои пожелания или предложения администрации сайта воспользуйтесь формой ниже:
    	<script type="text/javascript">
    			function mymail(){
    				var v4 = document.getElementById('fp4').value ;
    				if ( v4 == 'Сообщение:' || v4 == '' ){
    					alert('Вы не заполнили все поля!') ;
    				}else{
    					document.getElementById('form').submit() ;
    				}
    			}
    		</script>
    		<form action="/profile/sendemail" id="form">
    			<textarea rows="10" cols="50" id="fp4" name="text" onblur="if(this.value=='') this.value='Сообщение:'" onfocus="if(this.value =='Сообщение:' ) this.value=''" >Сообщение:</textarea>
    		</form>
    		<a href="#" class="link" onclick="mymail();">отправить</a>
    			</li>
    			<li class="helpcontent">
    				Если Вы хотите разместить свой логотип вверху страницы объявлений, чтобы посетители сайта могли быстро находить именно Ваши объявления, пришлите заявку воспользовавшись формой выше.
    			</li>
    		</ul>
		
	</div>
	
	<%= render :partial => 'rmenu' %>
	
</div>