<% content_for(:menu) do %>
	<%= render :partial => 'menu' %>
<% end %>
<div class="container_12">
	<div class="grid_3">&nbsp;</div>
	<div class="grid_7">  
			<% title "Регистрация:" %>
			<%= render :partial => 'form' %>
	</div>
	<div class="clear"></div>
	<div id="pravo" class="grid_12">
		<br />Для того чтобы зарегистрироваться пожалуйста заполните форму!<br />
		Внимание!!!<br />
		Администрация сайта имеет право удалить Вашу учётную запись и Вашу информацию без объяснения в любое время!</div>
	<div class="clear"></div>
</div>

