<div id="page2col2content" class="grid_4">
	<div class="content">
		<h2>Наши услуги</h2></div>
		<ul class="ul">
		    <li class="li"><div><a href="/aboutus/lnk1"><strong>Юридическое</strong><br />сопровождение сделок</a></div></li>
		    <li class="li1"><div><a href="/aboutus/lnk1"><strong>Операции с недвижимостью</strong><br /></a></div></li>
		    <li class="li2"><div><a href="/aboutus/lnk3"><strong>Защита прав потребителей</strong><br /></a></div></li>
		    <li class="li3"><div><a href="/aboutus/lnk4"><strong>Представление в суде</strong><br />представление интересов граждан</a></div></li>
			<li class="li4"><div><a href="/aboutus/lnk5"><strong>Исковое заявление<br />в суд</strong></a></div></li>
			<li class="li5"><div><a href="/aboutus/lnk1#label1"><strong>Продажа квартир и комнат</strong></a></div></li>
			<li class="li6"><div><a href="/aboutus/lnk1#label2"><strong>Обмен квартир</strong><br /> и иной недвижимости</a></div></li>
			<li class="li7"><div><a href="/aboutus/lnk1#label3"><strong>Покупка квартир и комнат</strong></a></div></li>
			<li class="li8"><div><a href="/aboutus/lnk1#label4"><strong>Покупка квартир по ипотеке</strong></a></div></li>
			<li class="li9"><div><a href="/aboutus/lnk1#label5"><strong>Вступление в наследство</strong></a></div></li>
			<li class="li10"><div><a href="/aboutus/lnk1#label6"><strong>Аренда жилья</strong><br>и помещений</a></div></li>
			<li class="li11"><div><a href="/aboutus/lnk1#label7"><strong>Сдача в аренду</strong><br>квартир и комнат</a></div></li>
		</ul>
	</div>
</div>