<% content_for(:menu) do %>
	<%= render :partial => 'menu' %>
<% end %>

<%= render :partial => 'pageslogan' %>

<div class="container_12">
	<div class="grid_7">
		<div class="content">
			<h2>Несколько слов о нашей компании</h2>
			<h4>Социально-правовая компания "Наш Дом"</h4>
			<p>Это сообщество молодых целеустемлённых людей, имеющих профессиональное юридическое образование, основной задачей которых является помощь другим людям в оформлении своих отношений с государством и между собой.</p>
		</div>
		<div class="grid_7">
			<div class="content">
				<img alt="" src="/images/5page_img2.jpg" class="img-left" />
		        <h4>Рыжеволов Роман Васильевич</h4><p>Основатель компании и главный специалист.<br>Cо мной всегда можно связаться по телефону:<h4>+7 918 393 7788</h4>
		        <br><br><p>
		        По вопросам размещения рекламы на сайте <a href="http://www.spknd.ru">www.spknd.ru</a> обращаться по телефону <h4>+7 928 840 3843</h4></p>
			</div>
		</div>
		<div class="clear"></div>
		<br>
		<div class="grid_7">
			<div class="content">
				<img alt="" src="/images/3page_img7.jpg" class="img-left" />
		        <h4>АДВОКАТСКАЯ ПАЛАТА КРАСНОДАРСКОГО КРАЯ<br>ПЕРВАЯ МЕЖРЕГИОНАЛЬНАЯ НЕЗАВИСИМАЯ КОЛЛЕГИЯ АДВОКАТОВ ЮГА РОССИИ (ПМНКАЮР)</h4><p>является негосударственной некоммерческой организацией, основанной в соответствии с ФЗ РФ № 63 от 31.05.2002 «Об адвокатской деятельности и адвокатуре РФ», ФЗ РФ № 7 от 12.01.1996 «О некоммерческих организациях», адвокатами, сведения о которых внесены в региональный реестр Краснодарского края.<br>
					Основным предметом деятельности является оказание квалифицированной юридической помощи гражданам и юридическим лицам, осуществляющим предпринимательскую и иную деятельность, а также содействие становлению и развитию рыночных отношений.<br>
					ПМНКАЮР обеспечивает защиту по уголовным делам, представительство по гражданским , уголовным и административным делам, а равно иные виды квалифицированной экономико-правовой помощи в целях защиты прав, свобод и законных интересов физических лиц, граждан, предпринимателей и юридических лиц независимо от форм собственности.<br>
					Коллегия является независимым самоуправляемым некоммерческим объединением адвокатов, вмешательство в деятельность которой недопустимо со стороны государственных и иных органов, органов местного самоуправления, общественных объединений, должностных лиц.<br>
					Многолетний опыт работы адвокатов-профессионалов позволяет квалифицированно решать наиболее сложные дела.
					<br>C нами всегда можно связаться по телефону:<h4>(86138) 6-19-52<h4></p>
			</div>
		</div>
	</div>
	<%= render :partial => 'rmenu' %>
	<div class="clear"></div>
</div>
