<% content_for(:menu) do %>
	<%= render :partial => 'menu' %>
<% end %>

<%= render :partial => 'pageslogan' %>

<div class="container_12">
	<div class="grid_7">
		<div class="content">
			<h3>Социально-правовая компания "Наш Дом"<br>готова оказать помощь в:</h3>
			<ul>
				<li>покупке, продаже, сдаче в аренду квартир собственников</li>
				<li>проведении процедур оформления квартир в собственность</li>
				<li>консультировании граждан и сопровождение сделок с недвижимостью</li>
			</ul>
			<p>В соответствии с действующим законодательством, право собственности на объект недвижимости возникает с момента государственной регистрации. Государственная регистрация прав на объекты недвижимости  возложена на управление Федеральной Регистрационной Службы по Краснодарскому краю.</p>
			<p>Для регистрации права собственности участнику долевого строительства следует обратиться в УФРС с заявлением о регистрации по предложенной форме. К заявлению прилагаются:</p>
			<ul>
				<li>оригинал договора о долевом участии в строительстве и его копия</li>
				<li>акт приёма-передачи квартиры и его копия</li>
				<li>документ об отсутствии задолженности по договору или платёжные квитанции и их копии, заверенные получателем</li>
				<li>технический паспорт на квартиру (помещение) и его копия</li>
				<li>оригинал и копия квитанции об оплате государственной пошлины</li>
				<li>документ, удостоверяющий личность</li>
			</ul>
			<p>Участник долевого строительства может поручить регистрацию другому лицу по нотариально заверенной доверенности.</p>
			<p>При осуществлении сделок <strong class="textbold">купли-продажи</strong> с объектами недвижимости,  следующий порядок проведения таких сделок, состоящий из нескольких основных этапов</p>
			<ul>
			<li>подписание предварительного договора и внесение задатка</li>
			<li>проверка пакета документов</li>
			<li>подписание договора купли-продажи (отчуждения)</li>
			<li>государственная регистрация</li>
			<li>передача объекта недвижимости</li>
			</ul>
			<p>Продавец квартиры должен иметь следующий набор документов</p>
			<ul>
			<li>техническая характеристика объекта</li>
			<li>сведения обо всех лицах, зарегистрированных на данной жилплощади</li>
			<li>правоустанавливающие документы на квартиру (договор приватизации, договор долевого участия, купли-продажи, дарения и т.д.), если она находится в собственности, а не приватизируется в процессе сделки</li>
			</ul>
			<p>В предварительном договоре необходимо зафиксировать основные условия предстоящей сделки купли-продажи объекта недвижимости, в том числе размер и порядок внесения задатка. После того как предварительные договоренности продавца с покупателем достигнуты, может быть внесён задаток.</p>
			<p>Следующий этап — составление договора купли-продажи (отчуждения) объекта недвижимости. В договоре должна быть указана сумма сделки и оговорены условия передачи денег. По соглашению сторон сделка купли-продажи может быть нотариально заверена, либо можно просто составить договор в письменной форме. Расчёт может быть произведён одним из трёх способов: наличными, через банковскую ячейку или перечислением всей суммы на счет продавца.</p>
			<p>Продавец, получив деньги, должен выдать расписку и передать покупателю недвижимое имущество. Передача объекта недвижимости может производиться непосредственно после подписания договора купли-продажи, во время проведения государственной регистрации или после получения покупателем свидетельства о праве собственности.</p>
			<p>Заключительный этап сделки — государственная регистрация, которая служит единственным доказательством наличия зарегистрированного права собственности на объект недвижимости.</p>
			<a name="label1"></a><h3>Продажа квартир и комнат</h3>
			<p>Вне зависимости от того, по какой причине вы решили продать свое жилье, важно помнить: подобная сделка — сложная операция, на успешность которой влияет множество факторов и нюансов. Поэтому, отвечая на вопрос «Как продать свою квартиру?», прежде всего, стоит задуматься о привлечении опытных специалистов</p>
			<p>Эксперты Компании «Наш Дом», имеющие многолетний опыт работы, помогут выгодно продать вашу квартиру или комнату, оказывая содействие на всех этапах совершения сделки.</p>
			<p>Наши специалисты проведут для вас бесплатную консультацию, помогут оценить квартиру или комнату, соберут и оформят необходимый комплект документов, организуют презентацию жилья потенциальным покупателям, зарегистрируют сделку.</p>
			<p>Также мы оказываем услуги по приватизации жилья.</p>
			<p>В случае, если вам необходимо срочно продать квартиру или комнату, вы можете воспользоваться нашей услугой <strong class="textbold">«Срочный выкуп».</strong></p>
			<p>Эксперты Компании помогут вам продать квартиру, а также иную недвижимость в кратчайшие сроки и с максимальной гарантией.</p>
			<p>Для вас:</p>
			<ul>
			<li>бесплатная консультация специалиста</li>
			<li>оценка квартиры</li>
			<li>проведение презентации квартиры</li>
			<li>проверка юридической чистоты квартир и комнат</li>
			<li>гарантированная продажа в короткие сроки</li>
			<li>срочный выкуп</li>
			<li>приватизация квартир и комнат</li>
			<li>составление необходимой документации и сопровождение сделки</li>
			<li>сбор необходимых документов</li>
			<li>гарантия сделки</li>
			<li> предложение программ ипотечного кредитования</li>
			</ul>
			<a name="label2"></a><h3>Обмен квартир и иной недвижимости</h3>
			<p>Обмен— сложная многоступенчатая сделка, требующая участия квалифицированных специалистов. Эксперты Компании «Наш Дом», имеющие многолетний опыт работы, помогут вам осуществить обмен квартиры на выгодных условиях: получить доплату, сменить район проживания, увеличить жилую площадь.</p>
			<p>Наши специалисты проведут для вас бесплатную консультацию, помогут оценить имеющееся у вас жилье, предложат различные варианты обмена, соберут и оформят необходимый комплект документов, организуют презентацию недвижимости, зарегистрируют сделку. Также мы оказываем услуги по приватизации жилья. В случае, если вам необходимо срочно обменять квартиру или комнату, вы можете воспользоваться нашей услугой «Срочный выкуп».</p>
			<p>Вы уже сегодня хотите жить в новой квартире, но обмен с доплатой вам не по карману? Мы предлагаем вам воспользоваться одной из ипотечных программ, предоставляемых партнерами Компании «Наш Дом». Приобретая квартиру в кредит в новостройке или на рынке вторичного жилья, Вы уже сегодня можете стать собственником недвижимого имущества.</p>
			<p>Эксперты Компании помогут вам совершить выгодный обмен в кратчайшие сроки и с максимальной гарантией.</p>
			<li>бесплатная консультация специалиста</li>
			<li>оценка квартиры</li>
			<li>подбор вариантов для обмена</li>
			<li>проведение презентации квартиры или комнаты</li>
			<li>услуги по съезду и разъезду, расселение коммунальных квартир</li>
			<li>сопровождение просмотра квартиры</li>
			<li>гарантированный обмен в короткие сроки</li>
			<li>срочный выкуп</li>
			<li>приватизация квартир и комнат</li>
			<li>проверка юридической чистоты квартир и комнат</li>
			<li>составление необходимой документации и сопровождение сделки</li>
			<li>сбор необходимых документов</li>
			<li>предложение программ ипотечного кредитования</li>
			<li>гарантия сделки</li>
			</ul>
			<a name="label3"></a><h3>Покупка квартир и комнат</h3>
			<p>Покупка жилья — серьезный шаг, к которому надо подходить вдумчиво и ответственно. Принимая решение о приобретении квартиры или комнаты, вы не просто выбираете стены или район проживания, но, прежде всего, уют и домашнюю атмосферу, которая будет сопровождать вас долгие годы. Поэтому так важно при покупке жилья опираться на профессиональные советы и помощь опытных экспертов.</p>
			<p>Специалисты Компании «Наш Дом» работают на рынке недвижимости уже более 10 лет. За эти годы нами накоплен значительный опыт по проведению сделок на вторичном рынке жилья. Мы оказываем полный спектр услуг на всех этапах покупки квартир, комнат и прочей недвижимости. За ходом сделки будут следить профессионалы с большим опытом работы, имеющие высшее образование и специальную подготовку, которые помогли уже многим гражданам решить жилищные и иные проблемы при покупке недвижимости.</p>
			<p>Наши эксперты проведут для вас бесплатную консультацию, расскажут обо всех этапах покупки недвижимости, подберут варианты, которые соответствуют вашим требованиям и запросам, а также организуют их просмотр. Специалисты Компании проведут проверку юридической чистоты недвижимости, соберут и подготовят все необходимые документы для проведения сделки, предложат подходящую для вас ипотечную программу, либо иной вариант приобретения недвижимого имущества.</p>
			<p>Наши эксперты проведут для вас бесплатную консультацию, расскажут обо всех этапах покупки недвижимости, подберут варианты, которые соответствуют вашим требованиям и запросам, а также организуют их просмотр. Специалисты Компании проведут проверку юридической чистоты недвижимости, соберут и подготовят все необходимые документы для проведения сделки, предложат подходящую для вас ипотечную программу, либо иной вариант приобретения недвижимого имущества.</p>
			<p>Эксперты Компании помогут вам купить недвижимость в кратчайшие сроки и с максимальной гарантией.</p>
			<ul>
			<li>бесплатная консультация специалиста</li>
			<li>подбор вариантов</li>
			<li>сопровождение просмотра</li>
			<li>проверка юридической чистоты недвижимости</li>
			<li>составление необходимой документации и сопровождение сделки</li>
			<li>сбор необходимых документов</li>
			<li>гарантия сделки</li>
			<li>предложение программ ипотечного кредитования</li>
			</ul>
			<a name="label4"></a><h3>Покупка квартир по ипотеке</h3>
			<p>Ипотека — долгосрочный кредит для приобретения недвижимости, который предоставляется под залог приобретаемой или уже имеющейся недвижимости. В кредит можно приобрести: квартиру, комнату, коттедж или коммерческую недвижимость для бизнеса. Это может быть как вторичная недвижимость, так и новостройка.</p>
			<p>Компания «Наш Дом» оказывает помощь жителям Тихорецка и Тихорецкого района в улучшении их жилищных условий с помощью ипотечного кредитования. Цены на недвижимость постоянно растут, и накопить необходимую сумму для приобретения жилья становится практически невозможно. А жить в своей собственной квартире хочется уже сейчас. Поэтому мы рады предложить Вам различные программы получения кредита по ипотеке для покупки квартир в Тихорецком районе. </p>
			<p>Приобретая квартиру в кредит в новостройке или на рынке вторичного жилья, Вы уже сегодня можете получить желанную квартиру. Опытные эксперты Компании подберут подходящую вам программу ипотеки, окажут услуги по страхованию и оценке, и подготовят всю необходимую документацию для совершения сделки.</p>
			<ul>
			<li>консультация специалиста</li>
			<li>подбор ипотечной кредитной программы</li>
			<li>страхование и оценка объекта недвижимости</li>
			<li>составление необходимой документации и сопровождение сделки</li>
			</ul>
			<a name="label5"></a><h3>Вступление в наследство</h3>
			<p>Наследование имущества — процесс, которому сопутствуют различные юридические тонкости и формальности, разобраться в них без помощи профессиональных экспертов очень сложно. Решение простых на первый взгляд вопросов подчас требует консультации квалифицированных специалистов.</p>
			<p>Эксперты Компании «Наш Дом» в рамках бесплатной консультации рассмотрят возникшую у вас ситуацию и предложат оптимальные способы решения проблемы с учетом Российского законодательства. Наши специалисты помогут вам полностью оформить ваши законные права на наследство и исключить их оспаривание в дальнейшем: составят и соберут необходимые документы, при необходимости, будут представлять ваши интересы в государственных, муниципальных и судебных органах.</p>
			<ul>
			<li>консультация специалиста</li>
			<li>составление необходимой документации</li>
			<li>оформление наследства</li>
			<li>представление интересов в суде</li>
			</ul>
			<a name="label6"></a><h3>Аренда жилья</h3>
			<p>Многие сталкиваются с необходимостью быстро и оперативно найти жилье соответствующее определенным требованиям, не затрачивая при этом средств на его приобретение. Аренда квартиры или комнаты в данном случае является решением этой актуальной проблемы. Сегодня активно возрастает число желающих снять квартиру или комнату в Тихорецке и Тихорецком районе. В то же время увеличивается и количество людей, готовых сдать свою квартиру или комнату в аренду. Как не запутаться во всем многообразии предложений, как избежать лишних финансовых затрат, сэкономить время, подобрать оптимальные варианты? Очевидно, что без помощи профессионалов здесь не обойтись.</p>
			<p>Специалисты Компании «Наш Дом» помогут вам легко и быстро решить вопрос аренды квартиры: для вас проведут бесплатную консультацию, подберут варианты, соответствующие вашим требованиям, соберут и подготовят все необходимые документы для совершения сделки, проверят юридическую чистоту квартиры. Мы располагаем актуальной базой по аренде жилья, в которой содержится множество вариантов, начиная с недорогих решений и заканчивая элитными квартирами в центре города.</p>
			<p>Если вам необходимо снять квартиру или комнату без рисков и с максимальной гарантией, то самый эффективный способ — обратиться к нашим специалистам, которые помогут вам найти нужное жилье в кратчайшие сроки и соблюдением всех юридических норм.</p>
			<ul>
			<li>бесплатная консультация специалиста по сдаче или найму квартиры</li>
			<li>проверка юридической чистоты квартир и комнат</li>
			<li>составление необходимой документации и сопровождение при подписании договора аренды</li>
			<li>оценка квартиры</li>
			<li>сопровождение просмотра квартиры</li>
			<li>гарантия исполнения договорных обязательств</li>
			</ul>
			<a name="label7"></a><h3>Сдача в аренду квартир и комнат</h3>
			<p>Наличие собственной квартиры или комнаты сегодня дает человеку неоспоримые преимущества. Распорядиться собственностью можно по-разному. В том случае, если Вы хотите иметь стабильный доход, сохраняя за собой право собственности, сдача квартиры или комнаты в аренду представляется оптимальным решением. Но как сделать так, чтобы Ваша квартира не оказалась в руках сомнительных людей? Как найти добропорядочных жильцов? Как сдать квартиру с максимальной для собственника выгодой? С этими и многими другими вопросами сталкивается владелец жилой недвижимости. Разумеется, эффективную помощь может оказать только квалифицированный юрист.</p>
			<p>Наши эксперты помогут легко и быстро сдать вашу недвижимость: проведут бесплатную консультацию, организуют показ квартиры или комнаты в удобное для вас время, соберут и оформят все необходимые документы для совершения сделки.</p>
			<p>Если вам необходимо сдать квартиру или комнату без рисков и с максимальной гарантией, то самый эффективный способ — обратиться к нашим специалистам, которые помогут вам найти жильцов в кратчайшие сроки, и оформят сделку с соблюдением всех юридических норм.</p>
			<ul>
			<li>бесплатная консультация специалиста по сдаче или найму квартиры</li>
			<li>проверка юридической чистоты квартир и комнат</li>
			<li>составление необходимой документации и сопровождение договора</li>
			<li>оценка квартиры</li>
			<li>сопровождение просмотра квартиры</li>
			<li>гарантия исполнения договорных обязательств</li>
			</ul>
		</div>
		<div class="grid_7">
			<div class="content"></div>
		</div>
		<div class="clear"></div>
		<br>
		<div class="grid_7">
			<div class="content"></div>
		</div>
	</div>
	<%= render :partial => 'rmenu' %>
	<div class="clear"></div>
</div>
