<% content_for(:menu) do %>
	<%= render :partial => 'menu' %>
<% end %>

<%= render :partial => 'pageslogan' %>

<div class="container_12">
	<div class="grid_7">
		<div class="content">
			<h3>Защита прав потребителей</h3>
			<p>Одним из основных направлений деятельности Социально-правовой Компании "НАШ ДОМ" является защита прав потребителей, содействие при реализации прав потребителей на приобретение товаров (работ, услуг) надлежащего качества, на безопасность их для жизни и здоровья, а также на получение информации о товарах (работах, услугах) и их изготовителях (исполнителях, продавцах), на просвещение в области защиты прав потребителей.</p>
			<p>По защите прав потребителей в соответствии с законом "О защите прав потребителей" осуществляются следующие виды деятельности:</p>
			<ul>
				<li>рассматриваются жалобы граждан о нарушениях прав потребителей, консультирует их по вопросам законодательства о защите прав потребителей</li>
				<li>анализируются договоры, заключаемые продавцами (исполнителями, производителями) с потребителями, с целью выявления условий, ущемляющих права потребителей и предпринимает необходимые действия для защиты потребителей</li>
				<li>осуществляется сбор информации о причинении вреда жизни, здоровью или имуществу потребителей, нарушению прав потребителей, вызванного опасными товарами (работами, услугами), и извещают органы государственного управления, осуществляющие контроль за безопасностью товаров (работ, услуг), принимает необходимые меры для защиты прав потребителей</li>
				<li>в целях защиты прав потребителей предъявляются иски в суды  по поручению потребителя (группы потребителей, или в интересах неопределенного круга потребителей)</li>
				<li>оказывается юридическое консультирование граждан по вопросам защиты прав потребителей, применения положений Закона о защите прав потребителей и других нормативных актов в сфере защиты потребителей</li>
			</ul>
			<p>Все мы потребители - покупаем товары, обращаемся в службы быта, ездим на транспорте, пользуемся коммунальными и медицинскими услугами и т.д.  Часто при этом наши права нарушаются. Для того, чтобы защитить свои права, нужно их знать.</p>
			<p>Главный закон в этой сфере это Закон РФ "О защите прав потребителей", Нормы этого закона конкретизируют ряд норм Гражданского кодекса РФ (ГК РФ), а к тем вопросам, которые не урегулированы в этом законе, применяются нормы Гражданского кодекса РФ.</p>
			<p>Подробнее:<br>	
			Правовые акты регулирующие защиту прав потребителей:</p>
			<ul>
			<li>О защите прав потребителей. Закон РФ от 7 февраля 1992 года N 2300-1</li>
			<li>Гражданский Кодекс Российской Федерации. Часть первая. 30 ноября 1994 года N 51-ФЗ</li>
			<li>Гражданский Кодекс Российской Федерации. Часть вторая.
			      26 января 1996 года N 14-ФЗ</li>
			</ul>
			<p>Кроме Закона РФ "О защите прав потребителей" и Гражданского кодекса РФ, права потребителей в законодательстве России регулируются также Правилами продажи отдельных видов товаров и Правилами оказания отдельных видов услуг, утвержденными Правительством РФ.</p>
			<p>Существует также большое количество нормативных актов, регулирующих деятельность предприятий в различных сферах, в том числе и при оказании услуг потребителям:</p>
			<ul>
			<li>Федеральный Закон "Об основах туристской деятельности в Российской Федерации"</li>
			<li>Закон РФ "О медицинском страховании граждан в Российской Федерации"</li>
			<li>Воздушный кодекс РФ и др.</li>
			</ul>
			<h3>Основные права потребителя</h3>
			<p>Как потребитель Вы имеете право</p>
			<ul>
			<li>на качество</li>
			<li>на безопасность</li>
			<li>на информацию</li>
			<li>на возмещение ущерба</li>
			</ul>
			<p>Законодательство защищает Ваши права и определяет механизмы реализации этой защиты. Знание своих основных прав поможет Вам правильно вести себя в ситуациях нарушений этих прав, с которыми - увы! - нам приходится сталкиваться слишком часто.</p>
			<p>Подробнее</p>
			<ul>
			<li>Право на качество</li>
			<li>Право на безопасность</li>
			<li>Право на информацию</li>
			<li>Право на возмещение ущерба</li>
			<li>Срок службы, срок годности и гарантийный срок - сроки ответственности</li>
			<li>Если условия договора ущемляют Ваши права - они недействительны</li>
			</ul>
			<h3>Ваши права при покупке товаров</h3>
			<p>Вы постоянно пользуемся различного рода услугами - стрижемся в парикмахерских, питаемся в закусочных и ресторанах, ремонтируем холодильники и фотоаппараты, ездим в метро и автобусах, летаем на самолетах и ездим в поездах, лечимся в медицинских учреждениях, наши дети учатся в школах и институтах, отдыхаем в Сочи или в Турции или в иных местах, ремонтируем квартиру, некоторые из нас строят дом или дачу и т.д. и т.п.</p>
			<p>При этом очень часто нарушаются наши права - задержался рейс самолета, на отдыхе разместили в плохую гостиницу, в химчистке испортили дубленку и т.д.</p>
			<p>Какие же права вы имеете и как их защищать?</p>
			<p>Во всех этих ситуациях вы - потребители, а те, кто оказывают нам услуги или выполняют для нас работы - исполнители.</p>
			<p>Очень часто для защиты своих интересов не требуется обращаться в суд - достаточно грамотно изложить свои требования исполнителю услуг, для того, чтобы добиться компенсации за испорченный отдых, чтобы исполнитель переделал плохо сделанную работу и т.п. Другими словами, ясно дайте знать исполнителю, что Вы знаете Ваши права в возникшей конфликтной ситуации и готовы их отстаивать, - в большинстве таких случаев исполнитель идет на мирное урегулирование конфликта по соглашению сторон.</p>
			<p>Как правило, исполнитель не хочет довести дело до судебного процесса - во-первых, все большее количество судебных процессов выигрывают потребители, во-вторых, кроме выплаты компенсации потребителю исполнитель может быть подвергнут штрафу и действие его лицензии может быть приостановлено или прекращено.</p>
			<h3>Ваши права при оказании услуг<br>(выполнении работ):</h3>
			<p>При оказании услуг (выполнении работ) Вы имеете право</p>
			<ul>
			<li>на выполнение работы (услуги) в срок</li>
			<li>на работу (услугу) надлежащего качества, т.е. без недостатков.</li>
			</ul>
			<p>Если работа (услуга) выполнена с недостатками или не в срок, Вы имеете право предъявить исполнителю свои требования (например, Вы можете потребовать возместить Ваши расходы, убытки, уменьшить оплату за выполненную работу и др.). Исполнитель должен выполнить Ваши требования в определенный срок. Если исполнитель нарушает сроки, Вы вправе требовать выплаты неустойки (пени) в размере 3% от цены работы за каждый день просрочки.</p>
			<h3>Как защитить свои права</h3>
			<p>Если же Вам отказывают в выполнении Ваших законных требований, - обращайтесь в суд. Хотя судебный процесс длится достаточно долго и потребует от Вас некоторых усилий и затрат времени, не стоит отказываться от подачи иска в суд, поскольку Вы можете добиться выполнения Ваших требований и получить полное возмещение ущерба, в том числе судебных издержек и морального вреда.</p>
			<p></p>
			<p></p>
			<p></p>
			<p></p>
		</div>
		<div class="grid_7">
			<div class="content"></div>
		</div>
		<div class="clear"></div>
		<br>
		<div class="grid_7">
			<div class="content"></div>
		</div>
	</div>
	<%= render :partial => 'rmenu' %>
	<div class="clear"></div>
</div>
