<% content_for(:menu) do %>
	<%= render :partial => 'menu' %>
<% end %>

<%= render :partial => 'pageslogan' %>

<div class="container_12">
	<div class="grid_7">
		<div class="content">
			<h3>Представление интересов в суде</h3>
			<p>Юристы нашей компании осуществляют представление интересов юридических и физических лиц в судах.</p>
			<p>Наши юристы представят Ваши интересы в судах по следующим вопросам:</p>
			<ul>
				<li>Арбитражные споры</li>
				<li>Гражданские споры</li>
				<li>Трудовые споры</li>
				<li>в целях защиты прав потребителей предъявляются иски в суды  по поручению потребителя (группы потребителей, или в интересах неопределенного круга потребителей)</li>
				<li>Семейные споры</li>
				<li>Жилищные споры</li>
				<li>Наследственные споры</li>
				<li>Земельные споры</li>
			</ul>
			<p>Представление интересов в арбитражных судах и судах общей юрисдикции.</p>
			<p>Когда возникшую проблему не удается разрешить путем переговоров, сбора информации и документов, то единственно возможным законным способом ее разрешения остается обращение в суд. Если Вы считаете, что кто-то своим действием (бездействием) причинил Вам вред, нарушил Ваши права и интересы, то в таком случае именно в суде Вам придется доказывать и отстаивать свое право.</p>
		</div>
		<div class="grid_7">
			<div class="content"></div>
		</div>
		<div class="clear"></div>
		<br>
		<div class="grid_7">
			<div class="content"></div>
		</div>
	</div>
	<%= render :partial => 'rmenu' %>
	<div class="clear"></div>
</div>
