<% content_for(:menu) do %>
	<%= render :partial => 'menu' %>
<% end %>

<%= render :partial => 'pageslogan' %>

<div class="container_12">
	<div class="grid_7">
		<div class="content">
			<h3>Исковое заявление в суд.<br>Представление интересов в суде.</h3>
			<p>Наша компания оказывает услуги по составлению исковых заявлений, подаче их в суд, а также по представлению интересов в судебных заседаниях. Правильное составление имеет огромное значение для правильного и быстрого разрешения судебного спора!</p>
			<p>Осуществление предварительного правового анализа и оценка перспективности дела в суде иногда помогает решить проблему без обращения в судебные органы, путём мирных переговоров. В некоторых случаях составление искового заявления и организация судебного процесса изначально не имеют смысла, поэтому лучше с самого начала обратиться за консультацией к адвокату, чтобы не тратить  впустую свои время, деньги и нервы.</p>
			<p>Квалифицированный юрист проконсультирует и поможет составить исковое заявление по гражданскому, арбитражному, трудовому, административному и другому спору, выработает стратегию и тактику ведения дела, грамотно осуществит судебную защиту нарушенных прав, свобод и законных интересов клиента.</p>
			<p>Каждый человек хотя бы раз (на самом деле гораздо чаще) обращался за юридической консультацией. Вопросы, которые ставит жизнь перед гражданами, варьируются в зависимости от степени сложности, сферы регулирования и путей разрешения.</p>
			<p>Так, одни хотят написать жалобу на нерадивое коммунальное предприятие, не выполняющее своих обязательств. Другим нужна консультация о порядке подачи искового заявления о присуждении содержания на ребенка (алиментов), квартиру третьих затопили соседи. Получить ответы на все интересующие вас вопросы вы сможете, придя на юридическую консультацию к грамотному специалисту.</p>
			<p>При этом вы можете быть уверены, что информация, доверенная юристу, останется между им и вами. <strong style="textbold">Конфиденциальность гарантируется!</strong></p>
			<p>В перечень основных вопросов оказания юридической консультации входит</p>
			<ul>
			<li>Вопросы, касающиеся расторжения брака (развод)</li>
			<li>Все, что связано с наследством: принятие, отказ, наследственные споры, раздел наследства и т.п.</li>
			<li>Вопросы, регулируемые жилищным и семейным законодательством</li>
			<li>Алиментные отношения</li>
			<li>Споры, подлежащие разрешению в судебных органах: общей юрисдикции, мировом, арбитражном, третейском и т.д.</li>
			<li>Трудовые отношения</li>
			<li>Иные вопросы, разрешаемые путем толкования закона.</li>
			</ul>
			<p>При этом Вы можете быть уверены, что юридическая консультация будет оказана вам немедленно по обращению. Профессиональный уровень специалистов, оказывающих юридические консультации, позволяет быть уверенным в благополучном исходе дела.</p>
		</div>
		<div class="grid_7">
			<div class="content"></div>
		</div>
		<div class="clear"></div>
		<br>
		<div class="grid_7">
			<div class="content"></div>
		</div>
	</div>
	<%= render :partial => 'rmenu' %>
	<div class="clear"></div>
</div>
