<div id="pcselector" class="container_16">
	<div class="grid_3">
		<a href="/posts/video"><img alt="" src="/images/videoaudio.png" /></a><br />
        <a href="/posts/video" class="link2">видео/аудио техника</a>
	</div>
	<div class="grid_3">
		<a href="/posts/kitchen"><img alt="" src="/images/kitchen.png" /></a><br />
        <a href="/posts/kitchen" class="link2">кухонная техника</a>
	</div>
	<div class="grid_3">
		<a href="/posts/wanny"><img alt="" src="/images/vanna.png" /></a><br />
        <a href="/posts/wanny" class="link2">техника для ванной</a>
	</div>
	<div class="grid_3">
		<a href="/posts/refreg"><img alt="" src="/images/kondicioner.png" /></a><br />
        <a href="/posts/refreg" class="link2">кондиционеры</a>
	</div>
	<div class="grid_3">
		<a href="/posts/computers"><img alt="" src="/images/komp.png" /></a><br />
        <a href="/posts/computers" class="link2">компьютеры и комплектующие</a>
	</div>
	<div class="clear"></div>
</div>
<br />
<br />
<%= render :partial => 'posts' %>