<div id="pcselector" class="container_16">
	<div class="grid_3">
		<a href="/posts/legkovye"><img alt="" src="/images/legkovye.png" /></a><br />
        <a href="/posts/legkovye" class="link2">легковые</a>
	</div>
	<div class="grid_3">
		<a href="/posts/gruzov"><img alt="" src="/images/gruzovye.png" /></a><br />
        <a href="/posts/gruzov" class="link2">грузовые и прицепы</a>
	</div>
	<div class="grid_3">
		<a href="/posts/remont"><img alt="" src="/images/zapchasti.png" /></a><br />
        <a href="/posts/remont" class="link2">ремонт</a>
	</div>
	<div class="grid_3">
		<a href="/posts/tuning"><img alt="" src="/images/remont.png" /></a><br />
        <a href="/posts/tuning" class="link2">Тюнинг</a>
	</div>
	<div class="grid_3">
		<a href="/posts/moto"><img alt="" src="/images/moto.png" /></a><br />
        <a href="/posts/moto" class="link2">мототехника</a>
	</div>
	<div class="clear"></div>
</div>
<br />
<br />
<%= render :partial => 'posts' %>