<div id="pcselector" class="container_16">
	<div class="grid_3">
		<a href="/posts/kvarts"><img alt="" src="/images/3page_img1.jpg" /></a><br />
        <a href="/posts/kvarts" class="link2">квартиры</a>
	</div>
	<div class="grid_3">
		<a href="/posts/domovlden"><img alt="" src="/images/3page_img2.jpg" /></a><br />
        <a href="/posts/domovlden" class="link2">домовладения</a>
	</div>
	<div class="grid_3">
		<a href="/posts/kommers"><img alt="" src="/images/3page_img3.jpg" /></a><br />
        <a href="/posts/kommers" class="link2">коммерческая</a>
	</div>
	<div class="grid_3">
		<a href="/posts/zemuch"><img alt="" src="/images/3page_img4.jpg" /></a><br />
        <a href="/posts/zemuch" class="link2">земельные участки</a>
	</div>
	<div class="grid_3">
		<a href="/posts/arenda"><img alt="" src="/images/3page_img5.jpg" /></a><br />
        <a href="/posts/arenda" class="link2">аренда жилья</a>
	</div>
	<div class="clear"></div>
</div>
<br />
<br />
<%= render :partial => 'posts' %>