<div id="pcselector" class="container_16">
	<div class="grid_3">
		<a href="/posts/igrushki"><img alt="" src="/images/igrushki.png" /></a><br />
        <a href="/posts/igrushki" class="link2">Игрушки, всё для детей</a>
	</div>
	<div class="grid_3">
		<a href="/posts/razvlekalovo"><img alt="" src="/images/koleso.png" /></a><br />
        <a href="/posts/razvlekalovo" class="link2">развлечения, кино</a>
	</div>
	<div class="grid_3">
		<a href="/posts/zivotnye"><img alt="" src="/images/koshkeutki.png" /></a><br />
        <a href="/posts/zivotnye" class="link2">домашние животные</a>
	</div>
	<div class="grid_3">
		<a href="/posts/ucheba"><img alt="" src="/images/ucheba.png" /></a><br />
        <a href="/posts/ucheba" class="link2">учеба</a>
	</div>
	<div class="grid_3">
		<a href="/posts/ostalnoe"><img alt="" src="/images/raznoe.png" /></a><br />
        <a href="/posts/ostalnoe" class="link2">разное</a>
	</div>
	<div class="clear"></div>
</div>
<br />
<br />

<%= render :partial => 'posts' %>

