<div id="pcselector" class="container_16">
	<div class="grid_3">
		<a href="/posts/building"><img alt="" src="/images/builders.png" /></a><br />
        <a href="/posts/building" class="link2">строительство</a>
	</div>
	<div class="grid_3">
		<a href="/posts/medical"><img alt="" src="/images/skidki-30.png" /></a><br />
        <a href="/posts/medical" class="link2">магазины</a>
	</div>
	<div class="grid_3">
		<a href="/posts/style"><img alt="" src="/images/style.png" /></a><br />
        <a href="/posts/style" class="link2">стиль, косметика, парикмахерские</a>
	</div>
	<div class="grid_3">
		<a href="/posts/ads"><img alt="" src="/images/gazet.png" /></a><br />
        <a href="/posts/ads" class="link2">предлагаю работу, ищу работу</a>
	</div>
	<div class="grid_3">
		<a href="/posts/clubs"><img alt="" src="/images/xutorok.png" /></a><br />
        <a href="/posts/clubs" class="link2">рестораны, клубы, столовые</a>
	</div>
	<div class="clear"></div>
</div>
<br />
<br />

<%= render :partial => 'posts' %>